#container{
    height: 400px;
    width: 400px;
    padding-top: 10px;
    border: 2px solid lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container div{
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    border: 2px solid grey;
    background-color: grey;
}

#navbar{
    height: 50px;
    width: 900px;
    border: 2px solid lightblue;
    background-color: lightpink;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-content: center;
}

#navbar div{
    height: 50px;
    width: 80px;
    font-size: 24px;
}